<% include head %>

<h1>Articles</h1>
<table class="articles">
	<tbody>
	<% articles.forEach(function(article) { %>
		<tr class="<% if (count%2===1){ %>row0<% }%>" >
			<td>
				<a href="/<%= moment(new Date(article.ts)).format("YYYY") %>/<%= moment(new Date(article.ts)).format("MM") %>/<%= moment(new Date(article.ts)).format("DD") %>/<%= article.title.replace(/ /g, '-').toLowerCase()  %>"><%= article.title  %></a>
			</td>
			<td><%= moment(new Date(article.ts)).format("Do MMM YYYY") %></td>
		</tr>
<% count = count + 1; }); %>

</tbody>
</table>

<% include foot %>