<% include head %>

<script>
  $(document).ready(function(){
    $('#articleForm').submit(function() {
      return $(this).validate();
    });
  });
</script>

<form method="POST" action="/save" id="articleForm">
  <label for="name">Site Name</label>
  <input type="text" name="name" value="<%= prefs.settings.name %>" class="input" id="project-name" data-validation="required" />
  <label for="email">Email address</label>
  <input type="text" name="email" value="<%= prefs.settings.email %>" class="input" id="project-email" />
  <label for="items">Articles per page</label>
  <input type="text" name="items" value="<%= prefs.settings.items %>" class="input" id="project-items" data-validation="required" />
  <label for="description">Meta Description</label>
  <textarea rows="3" cols="60" name="description" data-validation="required"><%= prefs.settings.description %></textarea>
  <label for="keywords">Meta Keywords</label>
  <textarea rows="3" cols="60" name="keywords"><%= prefs.settings.keywords %></textarea>
  <label for="gravatar">Display Gravatar</label>
  <input type="checkbox" name="gravatar" value="1"<% if (prefs.settings.gravatar){ %> checked="checked"<% } %>/>
  <label for="submit"></label>
  <input name="submit" type="submit" value="Submit" class="btn btn-primary" />
</form>

<% include foot %>